<div class="container">
    <mat-toolbar color="primary">
        <span>GESTION DE CATEGORIAS</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <mat-grid-list cols="4" rowHeight="50px"> 

            <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="''">
                <mat-form-field class="ancho" appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="''">
                <h2 class="text-danger">INFORMACION CATEGORIA</h2>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="3" [rowspan]="5" [style.background]="''">
                <section class="example-container mat-elevation-z8" tabindex="0">
                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                sortActionDescription="Sort by number">
                                Nombre
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.cat_nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Escenario </th>
                            <td mat-cell *matCellDef="let element"> {{element.cat_descripcion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="foto">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
                            <td mat-cell *matCellDef="let element"><img *ngIf="element.cat_foto!=null"
                                    [src]="'data:image/jpeg;base64,'+element.cat_foto" class="img-responsive"
                                    width="70%">
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row (click)="informacionColumna(row)" *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
                </section>
            </mat-grid-tile>
            <form [formGroup]="form">
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="''">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Nombre Escenario</mat-label>
                        <input autofocus value="" onkeyup="javascript:this.value=this.value.toUpperCase();"
                            (keyup)="onChangeNombre()" [formControl]="nombreControl" matInput autocapitalize="off"
                            formControlName="nombre" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="''">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Descripcion</mat-label>
                        <input (keyup)="onChangeStatus()" [formControl]="descripcionControl" matInput
                            autocapitalize="off" formControlName="descripcion" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="''">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
                    <td mat-cell *matCellDef="let element"><img *ngIf="element.cat_foto!=null"
                            [src]="'data:image/jpeg;base64,'+element.cat_foto" class="img-responsive" width="70%"></td>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightgreen2'">
                    <input #imagen style="color: transparent;" class="btn" type="file" (change)="onFileChanged($event)">
                    <input type="button" (click)="onImageDefault()" class="btn btn-warning" value="Eliminar Foto">
                </mat-grid-tile>
            </form>

            <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#B3B6B7'">

                <div *ngIf=retrievedImage class="ancho-image">
                    <img [src]="retrievedImage" class="img-responsive" width="70%">
                </div>
                <div *ngIf=!retrievedImage class="ancho-image">
                    <h1>IMAGEN</h1>
                </div>

            </mat-grid-tile>

            <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightgreen'">
                <div class="ancho">
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

            </mat-grid-tile>

        </mat-grid-list>
        <br>
        <div class="example-button-row" style="text-align: right;">
            <button class="btn btn-primary mx-2" type="submit" (click)="crear()" mat-raised-button
                [disabled]="!statusAgregar"> Agregar
                <mat-icon>check_circle_outline</mat-icon>
            </button>
            <button class="btn btn-primary mx-2" type="submit" (click)="actualizar()" mat-raised-button
                [disabled]="!statusEditar"> Editar
                <mat-icon>check_circle_outline</mat-icon>
            </button>
            <button class="btn btn-primary mx-2" type="submit" (click)="eliminar()" mat-raised-button
                [disabled]="!statusEliminar"> Eliminar
                <mat-icon>check_circle_outline</mat-icon>
            </button>
            <button routerLink="/dashboard/escenario" class="btn btn-danger mx-5" mat-raised-button> Volver
                <mat-icon>highlight_off</mat-icon>
            </button>
        </div>
    </mat-card>
</div>