/*
.demo-table {
  //width: 100%;
}

.mat-row .mat-cell {
  /*
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  
}
th {
  width: 20%;
}
.mat-row:hover .mat-cell {
  border-color: currentColor;
}
.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 500px;
  width: 100%;
  height: 400px;
  //overflow: auto;
}

.demo-row-is-clicked {
  //font-weight: bold;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
  height: 100px;
}

.mat-form-field {
  // font-size: 14px;
  //width: 100%;
}

td,
th {
  width: 25%;
}
*/
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-row:hover .mat-cell {
  border-color: currentColor;
}
.ancho {
  width: 100%;
}
.example-container {
  height: 255px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.ancho-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
