

.example-spacer {
    flex: 1 1 auto;
}

.pointer{
    cursor: pointer;
}

.sin-pointer{
    cursor: default;
}

.color{
    background-color: rgb(175, 0, 0);
    color:white;
    font-family: sans-serif;
    

    
}

