

  .ancho{
    width: 100%;
  }
  .ancho2{
    width: 100%;
  }
  table {
    width: 100%;
    //margin-top: 5px;
    
}

th{
    width: 10%;
}
.resaltado { 
  border-collapse: separate;
  //background-color: 
  
}
.centrar{
  margin-top: 14px;
}

.centrartitulo{
  padding-left: 42%;
}
.pointer {
  cursor: pointer;
}