/* footer */
.container-footer{
    //display: flex;
    //width: 100%;
    //height: auto;
    //justify-content: space-evenly;
    //margin: auto;
    background: rgb(15, 32, 65);
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    margin-top: 10%;
    left:0px;
    bottom:0px;
}

.content-footer{
    color: rgb(255, 255, 255);
    text-align: center;
}