<!--Footer-->
<div class="container-fluid">
    <footer class="py-5">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h5>Términos</h5>
                <ul class="nav flex-column offset-1">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terminos y Condiciones</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Políticas de Privacidad</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tratamiento de Datos</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3 ">
                <h5>Redes Sociales</h5>
                <ul class="nav flex-column offset-1">
                    <li class="btn-group nav-item mb-2">
                        <a href="https://www.facebook.com/pg/Caro-Cruz-Maquillaje-Profesional-2005552776392878/shop_nt/"
                            target="_blank" class="">
                            <h2 class="bi-facebook"></h2>
                        </a>
                        <a href="https://api.whatsapp.com/send?phone=+573013887434&text=Hola, Nececito mas informacion!"
                            target="_blank" class="px-3 text-success">
                            <h2 class="bi-whatsapp"></h2>
                        </a>
                        <a href="#3" target="_blank" class="text-dark">
                            <h2 class="bi-instagram"></h2>
                        </a>
                    </li>

                    <li class="nav-item mb-2"><a href="tel:3013887434" target="_blank"
                            class="bi-telephone nav-link p-0 text-muted">
                            <small>(+57)</small> 3013887434
                        </a></li>
                    <li class="nav-item mb-2"><a href="https://maps.app.goo.gl/Kwkv3UwjvkT37sp57" target="_blank"
                            class="bi-geo-alt nav-link p-0 text-muted"> Cauca,Popayán</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4 offset-sm-0 offset-md-1">
                <form>
                    <h5>Déjanos un comentario.</h5>
                    <div class="offset-md-1">
                        <form>
                            <div class="d-flex w-100 gap-2">
                                <input id="newsletter1" type="text" class="form-control"
                                    placeholder="Correo Electronico">
                            </div>
                            <div class="d-flex w-100 gap-2 py-2">
                                <textarea class="form-control" rows="3" placeholder="Comentario *"></textarea>
                            </div>
                            <div class="d-flex w-100 gap-2">
                                <button class="btn btn-primary" type="button">Enviar</button>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; 2022 Student. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter" />
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram" />
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook" />
                        </svg></a></li>
            </ul>
        </div>
    </footer>
</div>