<!--Carrete-->
<div class="mt-0">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <div class="d-none d-md-block">
                    <img src="./assets/carrete.jpg" class="d-block w-100 img-responsive" alt="Flower" width="460"
                        height="345">
                </div>
                <div class="d-lg-none d-md-none d-sm-block">
                    <img src="./assets/carrete.jpg" class="d-block w-100 img-responsive" alt="Flower" width="280"
                        height="165">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam libero perferendis sint. Optio
                        maxime sint sequi dolorum pariatur facilis, natus illum commodi necessitatibus. Pariatur
                        assumenda consequuntur inventore adipisci, suscipit possimus.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="d-none d-md-block">
                    <img src="./assets/carrete.jpg" class="d-block w-100 img-responsive" alt="Flower" width="460"
                        height="345">
                </div>
                <div class="d-lg-none d-md-none d-sm-block">
                    <img src="./assets/carrete.jpg" class="d-block w-100 img-responsive" alt="Flower" width="280"
                        height="165">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam libero perferendis sint. Optio
                        maxime sint sequi dolorum pariatur facilis, natus illum commodi necessitatibus. Pariatur
                        assumenda consequuntur inventore adipisci, suscipit possimus.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="d-none d-md-block">
                    <img src="./assets/carrete.jpg" class="d-block w-100 img-responsive" alt="Flower" width="460"
                        height="345">
                </div>
                <div class="d-lg-none d-md-none d-sm-block">
                    <img src="./assets/carrete.jpg" class="d-block w-100 img-responsive" alt="Flower" width="280"
                        height="165">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam libero perferendis sint. Optio
                        maxime sint sequi dolorum pariatur facilis, natus illum commodi necessitatibus. Pariatur
                        assumenda consequuntur inventore adipisci, suscipit possimus.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<section class="py-4 mt-5">

    <h1 class="text-center">Noticias</h1>

    <div class="container-fluid px-1 px-lg-1 mt-0">
        <div class="row gx-1 gx-lg-12 row-cols-2 row-cols-md-3 row-cols-lg-12 row-cols-xl-12 justify-content-center">


            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <div class="card h-200">
                        <img class="img-responsive card-img-top" width="100" height="180"
                            src="./assets/logo_unicauca.jpg" alt="..." />
                    </div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p class="h6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
                                facere
                                magnam sed mollitia quibusdam dicta pariatur minima et, perferendis maxime
                                repellendus
                                earum a dolorem cupiditate atque? Eius corrupti sint qui.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <div class="card h-200">
                        <img class="img-responsive card-img-top" width="100" height="180"
                            src="./assets/logo_unicauca.jpg" alt="..." />
                    </div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p class="h6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa hic odio
                                pariatur quisquam modi blanditiis, molestias, mollitia quam ratione doloremque
                                voluptatibus recusandae suscipit aperiam velit? Ea nulla id nesciunt hic.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <div class="card h-200">
                        <img class="img-responsive card-img-top" width="100" height="180"
                            src="./assets/logo_unicauca.jpg" alt="..." />
                    </div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nam sint
                                quam
                                nisi dolores, consequatur ducimus inventore. At recusandae incidunt magni deleniti
                                voluptate tempore voluptatibus earum, corrupti sit, esse voluptatum?</p>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</section>