<!--Carrete-->
<div>
    <div class="mt-0 my-5" id="carrusel" >
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000"> 
                <div class="d-none d-md-block">
                    <img src="assets/carretedefotos/carrete1.JPEG"  class="d-block w-100 img-responsive" id="futbol" alt="Flower" width="460"
                        height="445">
                </div>
                <div class="d-lg-none d-md-none d-sm-block">
                    <img src="assets/carretedefotos/carrete1.JPEG"  class="d-block w-100 img-responsive" id="futbol" alt="Flower" width="280"
                        height="265">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <p class="h4 rounded-pill">Cancha de futbol 11 - CDU</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="d-none d-md-block">
                    <img src="assets/carretedefotos/carrete2.JPEG" class="d-block w-100 img-responsive " id="pista" alt="Flower" width="460"
                        height="445">
                </div>
                <div class="d-lg-none d-md-none d-sm-block">
                    <img src="assets/carretedefotos/carrete2.JPEG" class="d-block w-100 img-responsive" id="pista" alt="Flower" width="280"
                        height="265">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <p class="h4 rounded-pill">Pista de atletismo - CDU</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="d-none d-md-block">
                    <img src="assets/carretedefotos/carrete3.JPEG" class="d-block w-100 img-responsive" id="canchas" alt="Flower" width="460"
                        height="445">
                </div>
                <div class="d-lg-none d-md-none d-sm-block">
                    <img src="assets/carretedefotos/carrete3.JPEG" class="d-block w-100 img-responsive" id="canchas" alt="Flower" width="280"
                        height="265">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <p class="h4 rounded-pill">Canchas multifuncionales - CDU</p>
                </div>
            </div>
            <div class="carousel-item " data-bs-interval="3000">
                
                <div class="d-none d-md-block">
                    <img src="assets/carretedefotos/carrete4.JPEG"  class="d-block w-100 img-responsive" id="cdu" alt="Flower" width="460"
                        height="445">
                </div>
                <div class="d-lg-none d-md-none d-sm-block">
                    <img src="assets/carretedefotos/carrete4.JPEG"  class="d-block w-100 img-responsive"  id="cdu" alt="Flower" width="280"
                        height="265">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <p class="h4 rounded-pill">Centro Deportivo Universitario Tulcan - CDU</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="d-none d-md-block">
                    <img src="assets/carretedefotos/carrete5.JPEG" class="d-block w-100 img-responsive" id="oficinas" alt="Flower" width="460"
                        height="445">
                </div>
                <div class="d-lg-none d-md-none d-sm-block">
                    <img src="assets/carretedefotos/carrete5.JPEG" class="d-block w-100 img-responsive" id="oficinas" alt="Flower" width="280"
                        height="265">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <p class="h4 rounded-pill">Oficinas administrativas - CDU</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="d-none d-md-block">
                    <img src="assets/carretedefotos/carrete6.JPEG" class="d-block w-100 img-responsive" id="piscina" alt="Flower" width="460"
                        height="445">
                </div>
                <div class="d-lg-none d-md-none d-sm-block">
                    <img src="assets/carretedefotos/carrete6.JPEG" class="d-block w-100 img-responsive"  id="piscina" alt="Flower" width="280"
                        height="265">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <p class="h4 rounded-pill">Piscina - CDU</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</div>

<section class="py-5 mt-0" id="noticias">

    <p class="text-center h2 " id="titulonoticias">Noticias</p>

    <div class="container-fluid px-1 px-lg-1 mt-0">
        <div class="row gx-1 gx-lg-12 row-cols-2 row-cols-md-3 row-cols-lg-12 row-cols-xl-12 justify-content-center">


            <div class="col mb-5">
                <div class="card h-100 shadow">
                    <!-- Product image-->
                    <div class="card h-200">
                        <img class="img-responsive card-img-top" width="100" height="240"
                            src="./assets/noticias/noticia1.jpg" alt="..." />
                    </div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p class="h4">Piscina fuera de servicio</p>
                            <p class="card-text h6">
                                Se informa ha la comunidad universitaria, la reforma del vaso de la piscina y de las galerías
                                perimetrales para su mantenimiento. También se renovarán las zonas exteriores y se instalarán
                                nuevos merenderos y espacios de sombra, se informa a la comunidad que no se prestará servicio
                                hasta nuevo aviso.
                                Los trabajos, que serán ejecutados por el Área de Obras y Equipamientos, cuentan con un
                                presupuesto de 2,6 millones de pesos y tienen un plazo previsto de siete meses y medio
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col mb-5">
                <div class="card h-100 shadow">
                    <!-- Product image-->
                    <div class="card h-200">
                        <img class="img-responsive card-img-top" width="100" height="240"
                            src="./assets/noticias/noticia2.jpg"  alt="..." />
                    </div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p class="h4">Un avance para la Universidad del Cauca</p>
                            <p class="card-text h6">
                                La ansiada construcción de las futura pista de atletismo del CDU está a la vuelta de la esquina.
                                La próxima semana se pondrán en marcha los ultimos trabajos de uno de los proyectos más
                                ambiciosos de la Universidad del Cauca. Después de meses de tramitación y preparación de los
                                terrenos, comienza la cuenta atrás para disponer de una instalación deportiva de máximo nivel.
                                La empresa encargada, única firma que se presentó a la propuesta, se encargará de una
                                construcción adjudicada por un importe de 1.000.000.000 de pesos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100 shadow">
                    <!-- Product image-->
                    <div class="card h-200">
                        <img class="img-responsive card-img-top" width="100" height="240"
                            src="./assets/noticias/noticia3.jpg"  alt="..." />
                    </div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p class="h4">¡Un trofeo mas!</p>
                            <p class="card-text h6">
                                La Universidad del Cauca logró un torneo de fútbol sala interempresas que se realizó como parte
                                de la celebración del Día de Trabajo, disputando con cuatro equipos más de la ciudad de Popayán.
                                El equipo de la institución se enfrentó a sus similares de Champagnat, Contraloría, Empaques del
                                Cauca y Ortoplan, clasificando desde octavos de final hasta el campeonato.
                                La final la disputó con el equipo de Ortoplan, llegando a los tiros desde el punto penal luego
                                de empatar 5-5. El resultado final fue de 3 – 1 a favor de la Universidad del Cauca en la serie
                                de penaltis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>