<div class="container">
    <h2 mat-dialog-title style="text-align: center;">{{titulo}} Usuario</h2>
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="enviar()">
        <mat-card style="margin-top: 10px;">
            <mat-grid-list cols="4" rowHeight="50px">
                <mat-grid-tile [colspan]="3" [rowspan]="6" [style.background]="'#B3B6B7'">
                    <!--<img src="./assets/logo.png" class="mx-auto d-block" width="120px" />-->
                    <div *ngIf=retrievedImage class="ancho-image">
                        <img [src]="retrievedImage" class="img-responsive" width="80%">
                    </div>
                    <div *ngIf=!retrievedImage class="ancho-image">
                        <h1>IMAGEN</h1>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightgreen2'">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Facultad</mat-label>
                        <mat-select [formControl]="facultadControl" (selectionChange)="onChangeFacultad()">
                            <mat-option *ngFor="let item of listaFacultades" value="{{item.facultad}}">
                                {{item.facultad}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightgreen2'">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Programa</mat-label>
                        <mat-select [formControl]="programaControl">
                            <mat-option *ngFor="let item of listaProgramas" value="{{item.pro_nombre}}">{{item.pro_nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightgreen2'">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Codigo</mat-label>
                        <input (keyup)="onChangeStatus()" [formControl]="codControl" type="number" min="0" step="1"
                            matInput autocapitalize="off" formControlName="codigo" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightgreen2'">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Identificacion</mat-label>
                        <input (keyup)="onChangeStatus()" [formControl]="idControl" type="number" min="0" step="1"
                            matInput autocapitalize="off" formControlName="identificacion" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightgreen2'">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Nombres</mat-label>
                        <input (keyup)="onChangeStatus()" [formControl]="nombresControl" matInput autocapitalize="off"
                            formControlName="nombres" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightgreen2'">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Apellidos</mat-label>
                        <input (keyup)="onChangeStatus()" [formControl]="apellidosControl" matInput autocapitalize="off"
                            formControlName="apellidos" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightgreen2'">
                    <input type="file" (change)="onFileChanged($event)">
                    <input type="button" (click)="onImageDefault()" class="btn btn-warning mx-5" value="Eliminar Foto">
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightgreen2'">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input (keyup)="onChangeStatus()" [formControl]="usuarioControl" matInput autocapitalize="off"
                            formControlName="usuario" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <br>
            <div class="example-button-row" style="text-align: right;">
                <button class="btn btn-primary" type="submit" mat-raised-button [disabled]="!status"> Aceptar
                    <mat-icon>check_circle_outline</mat-icon>
                </button>
                <button class="btn btn-danger" (click)="cancelar()" mat-raised-button> Cancelar
                    <mat-icon>highlight_off</mat-icon>
                </button>
            </div>
        </mat-card>

    </form>


</div>